<div class="container-fluid">
    <div class="intro">
    <div class="header">
    <div class="container-fluid">
    <h1 class="flyer-title pull-xs-left">Coworking Night #{{ night_id }}</h1>
    <h2 class="flyer-subtitle pull-xs-left pull-sm-right">{{ date | date: 'MMM d, yyyy' }} •  AL.com  •  6‑11pm </h2>
    </div>
    </div>
    </div>

    <div ng-if="!draw">
        <button type="button" class="btn btn-full btn-blue mb-lg" ng-click="IntentLogin()">
            <i class="icon icon-facebook"></i>
            <span>Login with Facebook</span>
        </button>
    </div>

    <div id="fullcalendar"></div>
    <div class="container-fluid">
        <h3>Events without Room Assignment</h3>
        <ul>
            <li ng-repeat="event in to_be_posted">
             {{event.title}}<br/>
             ( {{event.start | date: 'h:mm a'}} - {{event.end | date: 'h:mm a'}})<br/>
             Hosted By: {{ event.host }}
             </li>
        </ul>
    </div>

</div>