<div class="container-fluid">
<h2>Next Event</h2>
<ul>
    <li>
        Coworking Night #{{next_event.id}} - {{ next_event.date | date: 'MMM d, yyyy' }}
        <ul>
            <li><a href="#/flyer/{{ next_event.id }}">Flyer</a></li>
            <li><a href="#/schedule/{{ next_event.id }}">Schedule</a></li>
        </ul>
    </li>
</ul>

<h2>Future Events</h2>
<ul>
    <li ng-repeat="event in upcoming">
        Coworking Night #{{next_event.id}} - {{ next_event.date | date: 'MMM d, yyyy' }}
        <ul>
            <li><a href="#/flyer/{{ next_event.id }}">Flyer</a></li>
            <li><a href="#/schedule/{{ next_event.id }}">Schedule</a></li>
        </ul>
    </li>
</ul>

<h2>Past Events</h2>
<ul>
    <li ng-repeat="event in past">
        Coworking Night #{{next_event.id}} - {{ next_event.date | date: 'MMM d, yyyy' }}
        <ul>
            <li><a href="#/flyer/{{ next_event.id }}">Flyer</a></li>
            <li><a href="#/schedule/{{ next_event.id }}">Schedule</a></li>
        </ul>
    </li>
</ul>

</div>